@import "./../../../../../styles/_variables.less";

.wrapper {
    display: grid;
    grid-template-columns: 0.5em repeat(auto-fit, minmax(10em, 1fr));
    color: @default-color;
    font-weight: bold;
    background-color: @default-background;
    
}

.ant-row > div:nth-child(n+2) {
    grid-column: span 2;
}

@media only screen and (max-width: @small-screen) {
    .wrapper {
    display: grid;
    grid-template-columns: 0.5em auto;
    color: @default-color;
    font-weight: bold;
    background-color: @default-background;
    
    border-radius: @border-radius-base;
    margin: 0px @base-spacing calc( 2 * @base-spacing ) 0px;
    }
}
.ant-row > div:nth-child(n+2) {
    grid-column: span 1;
}

.ant-row {
    margin: calc( @base-spacing / 2 );
}

.status {
    height: 100%;
    border-radius: @border-radius-base;
        background-color: @red-color;
    .high {
        background-color: @red-color;
    }
    .medium {
        background-color: @orange-color;
    }
    .low {
        background-color: @medium-blue-color;
    }
}

.title {
    color: @red-color;
    font-size: 0.7rem;
}

.subtitle {
    font-size: 1.3rem;
}

.alert-data {
    font-size: 1.1em;
    padding-top: @base-spacing ;
    color: @light-grey;
}

.span-required-value {
    font-size: 1.3rem;
    color: @medium-blue-color;
    padding-top: @base-spacing * 2;
}

.current-value {
    text-align: center;
}

.span-current-value{
    font-size: 1.3rem;
    color: @orange-color;
    padding-bottom: @base-spacing;
}

